body {
  background-color: #82929C;
  background-position: 0px 0px 10px 10px;
  }
    body > div {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 600px;


  }

h2 {
    color: #24ABE5;
  }

  h3 {
    color: #24ABE5;
  }

  header {
    background-color: #ff8523;
    height: 150px;
  }

  .main_navigation  a {
    color: white;
    font-weight: bold;
    border color: lighter;
    text-decoration: none;
    border-style: solid;
    padding: 10px;
  }

    }
    .name {
      background-color: #ff8523;
      color: white;
      font-weight: bold;
      height: 50PX;
      padding-top: 20PX;

     }




     form {
       background-color: #eee;
       background-size: 20%;


     }




  /*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
